alias nano='nvim'
alias nonano='nano -c'
alias o='xdg-open'
alias alporta='xclip -sel clip'
# Ejemplo ver_log_servicio=apache2
alias ver_log_servicio='sudo journalctl -fu'
alias undo_commit_not_pushed='git reset --soft HEAD~'
alias cwd='pwd | tr -d "\r\n" | wl-copy'
alias restartgdm='sudo systemctl restart gdm'
alias buscarrecursivo='grep -rin'
alias fzfpreview="rg --files-with-matches '' | fzf --preview '/usr/bin/batcat --style=numbers --color=always {}'"
alias refreshmirrors='reflector --latest 10 --protocol https --sort rate | sudo tee /etc/pacman.d/mirrorlist'
alias codium='/usr/bin/codium --ozone-platform=wayland'
alias killwaybar='killall waybar && waybar & disown'
alias yayf="yay -Slq | fzf --multi --preview 'yay -Sii {1}' --preview-window=down:75% | xargs -ro yay -S"
alias noche='nohup hyprsunset --gamma 100 --gamma_max 100 --temperature 3300 >/dev/null 2>&1 &'
#alias y=yazi
alias ls='exa --icons --color=always'
alias exat='exa -T --level=3'
alias run_cadvisro='docker run -d --name=cadvisor --network test-network -p 8123:8080 -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys:ro  --privileged --device=/dev/kmsg --restart=unless-stopped  gcr.io/cadvisor/cadvisor'
