alias ippublica='curl ifconfig.me'
alias elpronostico='curl wttr.in/buenosaires'
alias o='xdg-open'
alias alporta='xclip -sel clip'
alias bat='/usr/bin/batcat'
alias amysql='mysql --host 127.0.0.1 --port 3306 -u root -p'
alias ll='lsd -lh --group-dirs=first'
alias la='lsd -a --group-dirs=first'
alias l='lsd --group-dirs=first'
alias lla='lsd -lha --group-dirs=first'
alias ls='lsd --group-dirs=first'
alias nano='nano -c'
alias ttcmd="echo '' | fzf -q '$*' --prompt '│ ' --pointer '― ' --preview-window=up:99% --preview='eval {q}'"
alias buscarrecursivo='grep -rin'
alias git_mis_commits='git log --pretty=format:"%h %ad | %s%d [%an]" --author="Sebastian Barreto" --oneline'
# Ejemplo ver_log_servicio=apache2
alias ver_log_servicio='sudo journalctl -fu'
alias undo_commit_not_pushed='git reset --soft HEAD~'
alias timer='echo "Timer started. Stop with Ctrl-d." && date && time cat && date'
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'
alias git_mis_commits='git log --author="Sebastian Barreto"'
#alias vertecla='xev | awk -F'[ )]+' '/^KeyPress/ { a[NR+2] } NR in a { printf "%-3s %s\n", $5, $8 }' '
